version: 2.1

commands:
  update_node_version:
    description: "A very simple command to update the node version"
    steps:
      - run:
          name: Link nvm
          command: |
            echo 'export NVM_DIR="/opt/circleci/.nvm"' >> $BASH_ENV
            echo ' [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"' >> $BASH_ENV
      - run:
          name: Update node version
          command: |
            nvm install v10.17.0
            nvm alias default v10.17.0

references:
  .workspace_root: &workspace_root /tmp/repo

  .attach_root: &attach_root
    attach_workspace:
      at: *workspace_root

  .working_directory_root: &working_directory_root
    working_directory: *workspace_root

  .base_env: &base_env
    machine:
      docker_layer_caching: true
    working_directory: *workspace_root

  .all_branches_and_tags: &all_branches_and_tags
    filters:
      branches:
        only: /(.*)/
      tags:
        only: /^\d+\.\d+\.\d(.*)/ # semver

  .master_and_tags: &master_and_tags
    filters:
      branches:
        only: master
      tags:
        only: /^\d+\.\d+\.\d(.*)/ # semver

jobs:
  build:
    <<: *base_env

    steps:
      - checkout
      - run:
          name: 'Add access to folder'
          command: chmod -R +w /tmp/repo
      - update_node_version
      - restore_cache:
          keys:
            - dependencies-{{ checksum "package-lock.json" }}
      - run:
          name: Install node dependencies
          command: npm install
      - save_cache:
          paths:
            - node_modules
          key: dependencies-{{ checksum "package-lock.json" }}
      - run:
          name: Build library
          command: npm run build
      - save_cache:
          paths:
            - dist
          key: dist-{{ .Branch }}-{{ .Revision }}
      - persist_to_workspace:
          root: *workspace_root
          paths:
            - .

  test:
    <<: *base_env

    steps:
      - update_node_version
      - run:
          name: Install node dependencies
          command: npm install
      - run:
          name: Build library
          command: npm run build
      - run:
          name: Run tests
          command: DEBUG=testcontainers npm run test

  release:
    <<: *base_env

    steps:
      - <<: *attach_root
      - update_node_version
      - run:
          name: Semantic release
          command: npm run semantic-release


workflows:
  version: 2

  build-release:
    jobs:
      - build:
          <<: *all_branches_and_tags

      - test:
          <<: *all_branches_and_tags
          requires:
            - build

    # WE DON'T WANT TO RELEASE THE LIB YET
    #   - release:
    #       <<: *master_and_tags
    #       requires:
    #         - test